<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap' rel='stylesheet' />
  <link href="./node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet"/>
  <style>
    /* The navigation menu */
    .navbar {
      overflow: hidden;
      background-color: #02475e;
      display: flex;
      justify-content: center;
    }

    /* Navigation links */
    .navbar a {

      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }


    /* Add a red background color to navigation links on hover */
    .navbar a:hover {
      background-color: #02475e;
    }



    .topbar1 {
      font-size: 0;
      margin-left: 5%;
      padding: 0px 0px;
    }

    .titulo {
      text-align: center;
      margin-top: 10%
    }

    .container1 {
      width: 47%;
      position: relative;
      left: 50%;

      margin-top: 34%;
      transform: translate(-50%, -50%);
      height: 100vh;
      background-color: #f8f9fb;
      display: flex;
      box-shadow: 5px 10px 38px rgba(0, 0, 0, 0.2);
    }

    input {
      outline: none;

    }

    input {
      display: block;
      width: 100%;
      font-size: 13px;
      background: transparent;
      color: #0f0f0f;
      font-weight: 500;
      padding: 10px 0px;
    }

    .form {
      text-align: center;
      margin-left: 20%;
      margin-top: 10%;
    }



    .btn1 {
      margin-top: 2rem;
      padding: 0.4 rem;
      background-color: #FF0054;
      cursor: pointer;
      color: white;
      border-radius: 4px;
      font-size: 18px;
      font-weight: bold;

    }

    .cae {
      text-align: left;
    }

    #FIMfim {

      width: 100%;
      margin-bottom: 0%;
      min-width: 600px;
      color: white;
      padding-bottom: 20px;
      margin-left: -10px;
      margin-right: -15px;
      height: 260px;
      position: absolute;
      align-items: center;
      justify-content: center;
      display: flex;
      padding-top: 30px;
      box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
      background-color: #222222;
    }

    #col1 {
      min-width: 120px;
      padding-top: 0px;
      top: 0px;
      margin-bottom: 230px;
      width: 250px;
      padding-left: 20px;
      padding-right: 20px;
      height: 55px;
      display: inline-block;
      text-align: left;
      line-height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      position: relative;
    }

    #col2 {
      min-width: 160px;
      padding-top: 0px;
      top: 0px;
      margin-top: -180px;
      width: 100px;
      padding-left: 0px;
      padding-right: 100px;
      height: 55px;
      display: inline-block;
      text-align: left;
      line-height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      position: relative;
    }

    #col3 {
      min-width: 120px;
      padding-top: 0px;
      top: 0px;
      margin-top: -180px;
      width: 170px;
      padding-left: 5px;
      padding-right: 0px;
      height: 55px;
      display: inline-block;
      text-align: left;
      line-height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      position: relative;
    }

    #col4 {
      text-align: center;
      min-width: 120px;
      padding-top: 0px;
      top: 0px;
      margin-bottom: 50px;
      width: 180px;
      padding-left: 0px;
      padding-right: 20px;
      height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      position: relative;
    }

    .rdp:link {
      text-decoration: none;
      color: white;
    }

    .rdp:visited {
      text-decoration: none;
      color: white;
    }
  </style>
</head>

<body>



  <!-- Load font awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <section id="topbar" class="topbar1">
    <div class="logo">
      <h2><img
          src="https://github.com/rafaeltarrendo41/ISI/blob/main/Templates/uploads_sites/2/2016_01/wtransnet_logo.png?raw=true">
      </h2>
      <div class="aceder">
      </div>
    </div>
  </section>

  <!-- The navigation menu -->
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#About">Soluções</a>
    <a href="#contact">Porquê wtransnet?</a>
    <a href="#contact">Tarifas</a>
    <a href="#contact">Clientes</a>
    <a href="#contact">QAP</a>
    <a href="#contact">Empresa</a>
    <a href="#contact">Blog</a>
  </div>

  <div class="container1">
    <div class="form">
      <div class="titulo">
        <h2>Comece a Usufruir Grátis da Wtransnet</h2>
      </div> <br>

      <div class="in">
        <input type="text" id="nome" name="fname" placeholder="Nome da Empresa"> <br>
        <input type="text" id="pass" name="lname" placeholder="Palavra-Pass"> <br>
        <input type="email" id="email" name="lname" placeholder="Email"> <br>
        <input type="number" id="nif" name="lname" placeholder="Nif"> <br>
        <input type="number" id="telefone" name="lname" placeholder="Telefone"> <br>
        <div class=cae>
          <label>Documento CAE:</label>
          <input type="file" id="lname" name="lname" placeholder="CAE">
        </div>
        <div>


          <button onclick="register()" type="button" id="registar" class="btn1"> REGISTAR </button>
        </div>
      </div>
    </div>
  </div>

  <div id="FIMfim">

    <div id="col2">
      <a class="rdp" href="">Soluções</a><br />
      <a class="rdp" href="">Bolsa de Cargas</a><br />
      <a class="rdp" href="">Bolsa de Rotas</a> <br />
      <a class="rdp" href="">App Wtransnet Cargo</a>
    </div>
    <div id="col3">
      <a class="rdp" href="https://youtube.com/informaticode" target="_blank">Youtube</a><br />
      <a class="rdp" href="https://instagram.com/informaticode" target="_blank">Instagram</a><br />
      <a class="rdp" href="https://facebook.com/informaticode" target="_blank">Facebook</a><br />
      <a class="rdp" href="https://www.informaticode.com.br/p/sobre.html">Sobre</a><br />
      <br />
    </div>
    <div id="col4">
      © Copyright 2012 - 2020 Josimar Junior Evangelista Criste - Todos os direitos reservados.
    </div>
  </div>

  <body style="height:200%; width:100%;"></body>
 
  <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script>

    const registar = document.getElementById('registar');
    const urlBase = `<%=urlBase%>`;
    Swal.fire('Bem vindo')

    const company = document.getElementById('nome');
    const pass = document.getElementById('pass');
    const email = document.getElementById('email');
    const intlphone = document.getElementById('telefone');
    const nif = document.getElementById('nif');
    

    company.addEventListener("change", (event) => {
      const letras = /^[a-záàâãéèêíïóôõöúçñ ]+$/i;
      if (company.value.match(letras)) {
        company.setCustomValidity("");
        document.getElementById("registar").disabled = false;
      } else {
        company.setCustomValidity("Insira apenas letras!");
      }
    })

    pass.addEventListener("change", (event) => {
      if (pass.value.length >= 9) {
        let validator = {
          maiuscula: 0,
          minuscula: 0,
          numero: 0,
          especial: 0
        }

        for (let i = 0; i < pass.value.length; i++) {
          if ("0123456789".includes(pass.value.charAt(i))) {
            validator.numero = 1;
          } else if ("[`!@#$%^&*()_+-=[]{};':\"\\|,.<>/?~]".includes(pass.value.charAt(i))) {
            validator.especial = 1;
          } else if (pass.value.charAt(i) === pass.value.charAt(i).toLowerCase()) {
            validator.minuscula = 1;
          } else if (pass.value.charAt(i) === pass.value.charAt(i).toUpperCase()) {
            validator.maiuscula = 1;
          }
        }
        if (validator.maiuscula + validator.minuscula + validator.especial + validator.numero < 3) {
          swal({
            html: '<strong><h3>A sua palavra-passe deve conter pelo menos três dos seguintes caracteres: um caracter especial, uma letra maiúscula, uma letra minúscula ou um número!</h3></strong>',
            type: 'error',
            showCloseButton: true,
            showConfirmButton: false,
            focusConfirm: false,
            timer: 9000
          })
        } else {
          pass.setCustomValidity("");
          document.getElementById("registar").disabled = false;
        }
      } else {
        swal({
          html: '<strong><h3>A sua palavra-passe deve conter no mínimo 9 caracteres.</h3></strong>',
          type: 'error',
          showCloseButton: true,
          showConfirmButton: false,
          focusConfirm: false,
          timer: 9000
        })
      }
    })


    intlphone.addEventListener("change", (event) => {
        if (intlphone.value.length != 9) {
          intlphone.setCustomValidity("Insira um número com 9 caracteres!");
          document.getElementById("registar").disabled = true;
        } else {
          intlphone.setCustomValidity("");
          document.getElementById("registar").disabled = false;
        }
    })

    

    //const egg02 = document.getElementById("egg02");


    function register(){
      document.getElementById("registar").disabled = true;
      event.preventDefault();

      return fetch(
        `https://cors-anywhere.herokuapp.com/http://www.nif.pt/?json=1&q=${nif}&key=c98b56062471b6923a9f915cddc78720`
      ).then(response => {
        //alert(response);
        if (response.status == 200) {
          return response.json();
        } else {
          throw new Error(
            "Não foi possivel verificar o seu NIF. Por favor tente novamente mais tarde!"
          );
        }
      }).then(result => {
        alert(result.nif_validation);
        if (result.nif_validation) {
          let data = {
            name: document.getElementById("company").value,
            email: document.getElementById("email").value,
            phone: document.getElementById("intlphone").value,
           // pass: document.getElementById("pass").value,
            numero_de_identificacao_fiscal: document.getElementById("nif").value,
            pass: pass.value,
          }
          console.log(data);
          return fetch(`${urlBase}/register`, {
            headers: {
              'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify(data)
          }).then(response => {
            alert(response);
            return response.json();
          }).then(result => {
            alert(result);
            if (result.message == "User inserted with success") {
              Swal.fire({
                title: 'Registo efetuado com sucesso!',
                type: 'success',
                showCancelButton: false,
                showConfirmButton: false,
                showLoaderOnConfirm: false,
                timer: 2000
              }).then(result => {
                window.location.replace('/')
              })
            } else {
              if (result.error == "CONTACT_EXISTS") {
                throw new Error(result.error);
              } else if (result.error == "NIF_EXISTS") {
                throw new Error(result.error);
              } else {
                throw new Error(
                  "Occorreu um erro! Por Favor tente mais tarde!"
                );
              }
            }
          }).catch(error => {
            document.getElementById("registar").disabled = false;
            if (error.message == 'CONTACT_EXISTS') {
              swal({
                title: 'Este email já existe!',
                showCancelButton: false,
                showConfirmButton: false,
                type: 'error',
                timer: 2000
              })
            } else if (error.message == 'NIF_EXISTS') {
              swal({
                title: 'Este NIF já existe!',
                showCancelButton: false,
                showConfirmButton: false,
                type: 'error',
                timer: 2000
              })
            } else {
              Swal.fire({
                html: '<strong><h3>Ocorreu um erro! Por favor tente mais tarde!</h3></strong>',
                showCancelButton: false,
                showConfirmButton: false,
                type: 'error',
                timer: 2000
              })
            }
          });
        } else {
          throw new Error(
            'O NIF que introduziu não é valido, verifique se este está correto!'
          );
        }
      }).catch(error => {
        Swal.fire({
          html: '<strong><h3>O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!</h3></strong>',
          type: 'error',
          showCloseButton: false,
          showConfirmButton: false,
          focusConfirm: false,
          timer: 2000
        })
      })
    }
  

  </script>


</body>
</html>