<!DOCTYPE html>
<html>

<head>
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Staatliches&display=swap' rel='stylesheet' />
  <link href="./node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    ¨* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      text-decoration: none;

    }

    body {
      display: flex;
      flex-direction: column;
      width: 100%;



    }

    /* The navigation menu */
    .navbar {
      overflow: hidden;
      background-color: #02475e;
      display: flex;
      justify-content: center;
      position: sticky;
      width: 100%;
    }

    /* Navigation links */
    .navbar a {

      font-size: 16px;
      color: white;
      text-align: center;
      font-family: "Cairo", sans-serif;
      padding: 14px 16px;
      text-decoration: none;
      display: flex;
      justify-content: center;
    }


    /* Add a red background color to navigation links on hover */
    .navbar a:hover {
      background-color: #02475e;
    }



    .topbar1 {
      font-size: 0;
      margin-left: 5%;
      padding: 0px 0px;
    }






    main {
      width: 100%;
      min-height: 100vh;
      background: linear-gradient(#fff, #80EAFF);
      display: flex;
      justify-content: center;
      box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.25);
      position: relative;
      flex-grow: 1;
    }

    main form h2 {
      width: 100%;
      text-align: center;
    }

    main form {

      position: relative;
      margin-top: 5%;
      width: 35%;
      height: 75%;
      background-color: #DCDCDC;
      box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
      border-radius: 18px;
      margin-bottom: 2%;

      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      overflow: hidden;



    }

    main form .inputs-container {
      margin-top: 10%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main form .inputs-container input {
      width: 90%;
      height: 30px;
      padding: 8px 15px;
      border: 0;
      outline: 0;
      border-radius: 12px;
      font-size: 16px;
      color: #312e42;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
      background-color: #fff;
      display: flex;

    }



    main form .inputs-container h1 {
      text-align: center;
      font-weight: 600;
      font-size: 30px;
      margin-top: 1%;
    }

    main form .inputs-container input:focus {
      box-shadow: inset 1px 4px 7px rgba(0, 0, 0, 0.5);
    }

    main form button {
      background-color: #fff;
      width: 40%;
      height: 40px;
      border: 0;
      outline: 0;
      border-radius: 12px;
      margin-top: 10%;
      font-size: 1.1em;
      font-weight: 600;
      cursor: pointer;

      color: #000;
    }


    main form .inputs-container input .lname {
      background-color: #DCDCDC;
    }

    .cae {
      text-align: left;

    }


    #FIMfim {
      width: 100%;


      color: white;
      bottom: 0;

      height: 200px;
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      padding-top: 20px;

      box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
      background-color: #222222;
    }



    #col2 {
      min-width: 160px;
      padding-top: 0px;
      top: 0px;
      margin-top: -100px;
      width: 100px;
      padding-left: 0px;
      padding-right: 100px;
      height: 55px;
      display: inline-block;
      text-align: center;
      line-height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 10px;
      position: relative;
    }


    #col3 {
      min-width: 120px;
      padding-top: 0px;
      top: 0px;
      margin-top: -100px;
      width: 170px;
      padding-left: 5px;
      padding-right: 0px;
      height: 55px;
      display: inline-block;
      text-align: left;
      line-height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      position: relative;
    }

    #col4 {
      text-align: center;
      min-width: 120px;
      padding-top: 0px;
      top: 0px;
      margin-bottom: 5px;
      width: 180px;
      padding-left: 0px;
      padding-right: 20px;
      height: 55px;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px;
      position: relative;
    }

    .rdp:link {
      text-decoration: none;
      color: white;
    }

    .rdp:visited {
      text-decoration: none;
      color: white;
    }


    @media screen and (max-width: 768px) {
      .navbar {
        width: 85vh;

      }

      body {
        width: 100%;
      }


      main {
        height: 80vh;
        width: 85vh;
        margin: 0;
      }

      .navbar a {
        width: 5%;
        font-size: 10px;
        padding: 14px 12px;


      }

      main form .links-container aside i {
        height: 30px;
        width: 30px;
        padding: 9px;
      }

      main form {
        top: 8%;
        margin-top: 1%;


        width: 70% !important;
        height: 90%;
        overflow: hidden;
      }

      input {
        height: 30px !important;
        font-size: 15px !important;

      }


      #FIMfim {
        width: 84vh;



      }

      .col2 {
        width: 50px;
        padding-right: 50px;
      }
    }

    @media screen and (max-width: 640px) {
      .navbar {
        width: 85vh;

      }

      body {
        width: min-content;
      }

      .navbar a {
        font-size: 10px;
        padding: 14px 12px;
        width: 5%;
      }

      main {
        height: 80vh;
        width: 85vh;
        margin: 0;
      }

      main form .links-container aside i {
        height: 30px;
        width: 30px;
        padding: 9px;
      }


      main form {
        top: 8%;
        margin-top: 1%;


        width: 70% !important;
        height: 90%;
        overflow: hidden;
      }

      input {
        height: 30px !important;
        font-size: 15px !important;
      }


      #FIMfim {
        width: 84vh;



      }

      .col2 {
        width: 50px;
        padding-right: 50px;
      }
    }

    @media screen and (max-width: 560px) {
      .navbar {
        width: 85vh;

      }

      body {
        width: min-content;
        min-height: 170vh;
      }

      .navbar a {
        width: 10%;
        font-size: 10px;
        padding: 14px 12px;
      }

      main form .links-container aside i {
        height: 30px;
        width: 30px;
        padding: 9px;
      }

      main {
        height: 80vh;
        width: 85vh;
        margin: 0;
      }

      .col2 {
        width: 50px;
        padding-right: 50px;
      }



      main form {
        top: 8%;
        margin-top: 1%;


        width: 70% !important;
        height: 80%;
        overflow: hidden;
      }

      input {
        height: 30px !important;
        font-size: 15px !important;
      }


      #FIMfim {
        width: 84vh;



      }

      .col2 {
        width: 50px;
        padding-right: 50px;
      }
    }

    @media screen and (max-width: 414px) {
      .navbar {
        width: 85vh;

      }

      body {
        width: min-content;
        min-height: 170vh;
      }


      main {
        height: 80vh;
        width: 85vh;
        margin: 0;
      }

      .navbar a {
        width: 12%;
        font-size: 10px;
        padding: 14px 12px;


      }





      main form {
        top: 8%;
        margin-top: 1%;


        width: 70% !important;
        height: 90%;
        overflow: hidden;
      }

      input {
        height: 30px !important;
        font-size: 15px !important;
      }


      #FIMfim {
        width: 84vh;



      }

      .col2 {
        width: 20px;
        padding-right: 10px;
      }

    }

    @media screen and (max-width: 375px) {

      .navbar {
        width: 85vh;

      }

      body {
        width: min-content;

      }

      main form .links-container aside i {
        height: 30px;
        width: 30px;
        padding: 9px;
      }

      .navbar a {
        width: 10%;
        font-size: 10px;
        padding: 14px 12px;
      }

      main {
        height: 80vh;
        width: 85vh;
        margin: 0;
      }

      main form {
        top: 8%;
        margin-top: 1%;


        width: 70% !important;
        height: 90%;
        overflow: hidden;
      }


      input {
        height: 30px !important;
        font-size: 15px !important;
      }


      #FIMfim {
        width: 84vh;
        height: 140px;



      }

      .col2 {
        width: 50px;
        padding-right: 50px;
      }


    }
  </style>
</head>

<body>



  <!-- Load font awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <section id="topbar" class="topbar1">
    <div class="logo">
      <h2><img
          src="https://github.com/rafaeltarrendo41/ISI/blob/main/Templates/uploads_sites/2/2016_01/wtransnet_logo.png?raw=true">
      </h2>
      <div class="aceder">
      </div>
    </div>
  </section>

  <!-- The navigation menu -->
  <div class="navbar">
    <a href="#home">Home</a>
    <a href="#About">Soluções</a>
    <a href="#contact">Porquê wtransnet?</a>
    <a href="#contact">Tarifas</a>
    <a href="#contact">Clientes</a>
    <a href="#contact">QAP</a>
    <a href="#contact">Empresa</a>
    <a href="#contact">Blog</a>
  </div>

  <main>
    <form id="form">
      <section class="inputs-container">
        <h2>Comece a Usufruir Grátis da Wtransnet</h2>


        <div class="in">
          <input type="text" id="nome" name="nname" placeholder="Nome da Empresa" required> <br>
          <input type="text" id="pass" name="oname" placeholder="Palavra-Pass" required> <br>
          <input type="email" id="email" name="ename" placeholder="Email" required> <br>
          <input type="number" id="nif" name="nname" placeholder="Nif" required> <br>
          <input type="number" id="telefone" name="tname" placeholder="Telefone" required> <br>
        </div>
        <select id="tipo">
          <option>Transportadora</option>
          <option>Operador Logistico</option>
        </select>
        <br> <br>
        <div class=cae>
          <label>Documento CAE:</label>
          <input type="file" id="ficheiro" name="lname" placeholder="CAE">
        </div>
        <br>
        <div class="g-recaptcha" data-sitekey="6LfrLcYaAAAAABWpvKqmrb8ZwAPQXuA-PyZbZKxQ"></div>
      </section>

      <div>
        <div data-sitekey="6LdoHK4aAAAAAE11xgO3lmuf_sNoW-NhPo9Qtt5m" data-callback="enableBtn">
        </div>
      </div>


      <button type="submit" id="registar" class="btn1"> REGISTAR </button>


    </form>

  </main>

  <div id="FIMfim">

    <div id="col2">
      <a class="rdp" href="">Soluções</a><br />
      <a class="rdp" href="">Bolsa de Cargas</a><br />
      <a class="rdp" href="">Bolsa de Rotas</a> <br />
      <a class="rdp" href="">App Wtransnet Cargo</a>
    </div>
    <div id="col3">
      <a class="rdp" href="https://youtube.com/informaticode" target="_blank">Youtube</a><br />
      <a class="rdp" href="https://instagram.com/informaticode" target="_blank">Instagram</a><br />
      <a class="rdp" href="https://facebook.com/informaticode" target="_blank">Facebook</a><br />
      <a class="rdp" href="https://www.informaticode.com.br/p/sobre.html">Sobre</a><br />
      <br />
    </div>
    <div id="col4">
      © Copyright 2012 - 2020 Josimar Junior Evangelista Criste - Todos os direitos reservados.
    </div>
  </div>

  <body style="height:200%; width:100%;"></body>
  <!-- <script>
    function timestamp() { var response = document.getElementById("g-recaptcha-response"); if (response == null || response.value.trim() == "") { var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value); elems["ts"] = JSON.stringify(new Date().getTime()); document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems); } } setInterval(timestamp, 500);

    function enableBtn() {
      document.getElementById("button").disabled = false;
    }
  </script> -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="./node_modules/sweetalert2/dist/sweetalert2.all.min.js"></script>
  <script>

    const urlBase = `<%urlBase%>`;
    window.onload = () => {
      const addUtilizador = document.getElementById('form');
      //const urlBase = `<%=urlBase%>`;
      addUtilizador.addEventListener("submit", async (event) => {
        document.getElementById("registar").disabled = true;
        event.preventDefault();

        const file = document.getElementById('ficheiro');
        var formData = new FormData();
        formData.append('file', file.files[0]);
        const company = document.getElementById('nome');
        const pass = document.getElementById('pass');
        const email = document.getElementById('email');
        const intlphone = document.getElementById('telefone');
        const nif = document.getElementById('nif');
        const tipo = document.getElementById('tipo');


        return fetch(
          `https://www.nif.pt/?json=1&q=${nif.value}&key=c98b56062471b6923a9f915cddc78720`
        ).then(response => {
          if (response.status == 200) {
            return response.json();
            //console.log(response);
          } else {
            Swal.fire("Não foi possivel verificar o seu NIF. Por favor tente novamente mais tarde!");
          }
        }).then(result => {
          if (result.nif_validation) {
            let properties = {
              "properties": {
                company: company.value,
                pass: pass.value,
                email: email.value,
                numero_de_identificacao_fiscal: nif.value,
                phone: intlphone.value,
                tipo: tipo.value,
              }
            }

            return fetch(`https://wtransnet.herokuapp.com/register`, {
              headers: {
                "Access-Control-Allow-Origin": "*",
                "Accept": "application/json",
                'Content-Type': 'application/json'
              },
              method: 'POST',
              body: JSON.stringify(properties)
            }).then(response => {
              return response.json();
            }).then(result => {
              console.log(result.body.message);
              if (result.body.message == "User inserted with success") {

                let dados = {
                  companieId: result.body.id,
                  file: file[0]
                }
                const companieId = result.body.id;
                // const companieId = 6089166166;

                fetch(`https://wtransnet.herokuapp.com/ficheiro`, {
                  method: 'POST',
                  body: formData

                }).then(response => {
                  //console.log(body);
                  return response.json();
                }).then(result => {
                  console.log(result);

                  if (result.msg) {
                    const nomeficheiro = result.msg;

                    let dados = {
                      companieId: companieId,
                      filename: nomeficheiro
                    }
                    console.log(dados);

                    return fetch(`https://wtransnet.herokuapp.com/addFiles`, {
                      headers: {
                        "Access-Control-Allow-Origin": "*",
                        "Accept": "application/json",
                        'Content-Type': 'application/json'
                      },
                      method: 'POST',
                      body: JSON.stringify(dados)
                    }).then(response => {
                      return response.json();
                    }).then(result => {
                      console.log(result)
                      if (result.resposta == "ficheiro adicionado") {
                        Swal.fire({
                          title: 'Registo Efetuado',
                          text: 'Aguarde a validação da sua conta, irá receber um email com a confirmação'

                        }).then(function () {
                          window.location = "https://wtransnet-face.herokuapp.com/login";

                        });

                      } else {
                        Swal.fire({
                          title: 'Erro no registo',
                          icon: 'error'
                        })
                      }
                    })
                  }
                })

              } else {
                if (result.body.message == "CONTACT_EXISTS") {
                  Swal.fire({
                    title: 'Email já existe',
                    icon: 'error'
                  })
                } else if (result.body.message == "NIF_EXISTS") {
                  Swal.fire({
                    title: 'Nif já existe',
                    icon: 'error'
                  })
                } else {
                  Swal.fire({
                    title: 'Aconteceu um erro por favor tente mais tarde!',
                    icon: 'error'
                  })
                }
              }
            }).catch(error => {
              // document.getElementById("registar").disabled = false;
              // if (error.body.message == 'CONTACT_EXISTS') {
              //   Swal.fire({
              //     title: 'Este email já existe!',
              //     showCancelButton: false,
              //     showConfirmButton: false,
              //     type: 'error',
              //     timer: 2000
              //   })
              // } else if (error.body.message == 'NIF_EXISTS') {
              //   Swal.fire({
              //     title: 'Este NIF já existe!',
              //     showCancelButton: false,
              //     showConfirmButton: false,
              //     type: 'error',
              //     timer: 2000
              //   })
              // } else {
              //   Swal.fire({
              //     html: '<strong><h3>Ocorreu um erro! Tente novamente mais tarde. Obrigado!</h3></strong>',
              //     showCancelButton: false,
              //     showConfirmButton: false,
              //     type: 'error',
              //     timer: 2000
              //   })
              // }
            });
          } else {
            throw new Error(
              "O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!"
            );
          }
        }).catch(error => {
          Swal.fire({
            html: '<strong><h3>O NIF que introduziu não é válido. Verifique se introduziu o seu NIF corretamente!</h3></strong>',
            type: 'error',
            showCloseButton: false,
            showConfirmButton: false,
            focusConfirm: false,
            timer: 2000
          })
        })

      })

    }


  </script>


</body>

</html>